node_modules
module_testing/.env
data-processor-backend/.env
*.pyc
*.db
**/uploads/**

# Logs
data-processor-front-end/logs
data-processor-front-end/*.log
data-processor-front-end/npm-debug.log*
data-processor-front-end/yarn-debug.log*
data-processor-front-end/yarn-error.log*
data-processor-front-end/pnpm-debug.log*
data-processor-front-end/lerna-debug.log*

data-processor-front-end/node_modules
data-processor-front-end/dist
data-processor-front-end/dist-ssr
data-processor-front-end/*.local
data-processor-front-end/build
data-processor-front-end/.env
data-processor-front-end/package-lock.json

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?